.header-wrapper {
    background: var(--black);

}

.header-wrapper .header-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-menu {
    gap: 2rem;
}

.header-menu>*:hover {
    cursor: pointer;
}

.menu-icon {
    display: none;
}

@media (max-width: 770px) {
    .header-wrapper .header-container {
        background-color: var(--black);
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .header-menu {
        background-color: white;
        color: var(--black);
        position: absolute;
        flex-direction: column;
        top: 3rem;
        right: 1rem;
        font-weight: 500;
        gap: 1rem;
        padding: 3rem;
        align-items: flex-start;
        border-radius: 10px;
        box-shadow: 0px 4px 10px black;
        z-index: 3;
    }
}