.App {
    background-image: radial-gradient(rgba(91, 91, 91, 0.6), rgba(2, 21, 27, 0.5));
    /* background-image: url(./backgroundLux.png); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    position: relative;
}